---
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: true
UseTab: Never
TabWidth: 4
ColumnLimit: 120
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
MaxEmptyLinesToKeep: 1
AllowShortIfStatementsOnASingleLine: WithoutElse
Standard: Latest
...
